



@font-face{
  font-family: mycambo;
  font-weight: normal;
  src: url('http://williamrileyharrison.weebly.com/uploads/7/0/6/0/70608077/cambo-regular.otf')
}
.riley{
    color: green;
  font-family: mycambo;
  
  
  

}
